/* You can add global styles to this file, and also import other style files */

html {
  padding: 0;
  height: 100vh;
  overflow-y: hidden;
}

body {
  height: 100vh;
  background-color: #fcfcfc;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}
